<!Doctype html>
<html>

<head>
    <title>Todo App</title>
    <style>

        body {
            background-color: forestgreen;
            text-align: center;
            font-family: cursive;
        }

        h1 {
            color: gold(255, 213, 0);
        }

        .h1-box {
            background-color: rgb(45, 182, 45);
            height: fit-content;
            width:fit-content;
            padding: 10px;
            border-style: solid;
            border-width: 2px;
            border-radius: 10px;
            border-color: goldenrod;
            margin-top: 17.5px;
            margin-left: 595px;
            margin-right: 300px;
        }

        #input-style {
            height: 50px;
            width: 500px;
            padding: 10px;
            border-style: solid;
            border: 10px;
            border-radius: 12px;
            font-size: 30px;
            font-family: cursive;
        }

        .button-style {
            background-color: chartreuse;
            height: 50px;
            width: 100px;
            border-style: solid;
            border-color: gold;
            border-width: 2px;
            border-radius: 10px;
            font-family: cursive;
            margin: 10px;
        }

        .li-style {
            list-style: none;
            color: gold;
            font-size: 25px;
        }

        .li-box {
            background-color: rgb(45, 182, 45);
            height: fit-content;
            padding: 10px;
            min-width: 11px;
            border-style: solid;
            border-width: 2px;
            border-radius: 10px;
            border-color: goldenrod;
            margin-top: 17.5px;
            margin-left: 300px;
            margin-right: 300px;
            text-align: left;
        }

        .hidden {
            visibility: hidden;
        }
        
    </style>
</head>

<body>
    <h1 class="h1-box">My ToDo Application</h1>
    {%for x in todos%}
    <div class="{%if x['complete']%}complete{%endif%}">
        <li class="li-box li-style">{{x['description']}}</li>
        {%if x['complete']%}✔{%endif%}
            <div>
                <form method="POST" action="/complete_todo/{{x['id']}}">
                    <input class="button-style" type="submit" value="Complete" class="{%if x['complete'] == 1%}hidden{%endif%}">
                </form>
                <form method="POST" action="/delete_todo/{{x['id']}}">
                    <input class="button-style" type="submit" value="Delete">
                </form>
                {%endfor%}
                <form method="POST">
                    <input id="input-style" name="new_todo" placeholder="Please enter ToDo here">
                    <input class="button-style" type="submit">
                </form>
            </div>
    </div>
</body>

</html>